*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0be38d;
}

i{
    font-size: 15px;
    margin: 0 5px;
    transition: all .5s ease;
}

.fa-pen:active{
    color: #35755c;
    transform: scale(0.97);
}

.fa-trash:active{
    color: crimson;
    transform: scale(0.97);
}

.fa-check-double{
    color: green;
}

